<!DOCTYPE html>
<html ng-app="customServiceApp">
<head>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/customer-service.js"></script>
</head>
<body>
<div ng-controller="CustomServiceController">
    result: {{result}} <br/>
    greeting: {{greeting}} <br/>
    filtered greeting: {{greeting | reverse}} <br/>
    filtered greeting(with :true): {{greeting | reverse:true}} <br/>
    filtered greeting(with :true:'zz'): {{greeting | reverse:true:'zz'}} <br/>
</div>
<div ng-controller="TwoWayBindingController">
    <p>2 Way Binding</p>
    <input type="text" ng-model="myModel" placeholder="start typing...">

    <p>My Model Data: {{myModel}}</p>
    <button ng-click="scope_function()">call $scope function</button>
</div>
</body>
<div ng-controller="TwoWayBindingController">
    <p>Declarative DOM methods</p>
    <a href="" ng-click="toggle = !toggle">Toggle nav</a>
    <ul ng-show="toggle">
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
    </ul>
    <p>expression</p>
    <p>{{myModel.length > 0 && 'My data' || 'No data' }}</p>
</div>
</html>